<?xml version="1.0" encoding="UTF-8" ?>
<!-- applicationContext.xml -->

<!--the below 4 lines check the validate tag or not or the 2nd task is - from where that particular tag is located-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Your bean definitions go here -->



    <!-- Define a simple bean -->
    <bean id="airtel" class="com.spring.ioc.Airtel">
        <!-- You can set properties or constructor arguments if needed -->
        <!-- <property name="propertyName" value="propertyValue" /> -->
    </bean>

</beans>
